.hidden {
    display: none !important;
}

html {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: fit-content;
}

#LogInWarning {
    height: 200px;
    display: flex;
    justify-content: center;
    justify-items: mi;
    text-align: center;
    width: 400px;
    align-items: center;
    /* background: black; */
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}

nav {
    position: fixed;
    z-index: 0;
    top: 0;
}

ul {
    margin: 0;
    padding: 0;
}

#mainContainer {
    /* margin-top: 65px; */
    padding-left: 0;
    height: 100%;
    padding-right: 0;
}

.folderClass {
    display: flex;
    min-height: 2.6rem;
    align-items: center;
}

.FolderIcon {
    margin-right: 10px;
}

.FolderText {
    margin-right: 10px;
}

#flexWrapper {
    display: flex;
    height: 100%;
    /* margin-top: 65px; */
    padding-top: 65px;
}

#listContainer {
    width: 15%;
    background: #fff;
}

#listForm {}

#listOrder {
    margin-left: 8%;
    margin-top: 5%;
}

#NewList {
    border-bottom: none;
}

.navbar {
    display: flex;
}

#logo {
    flex: 1;
    justify-content: left;
    display: flex;
    /* align-items: center; */
}

#navButton {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    outline: none;
    font-family: inherit;
    font-size: 0.9rem;
    vertical-align: middle;
    background-color: indianred;
    padding: 6px;
    border-radius: 5px;
}

#loginUl {}

#logInULContainer {
    flex: 1;
    justify-content: flex-end;
    padding-right: 30px;
}

#NavbuttonContainer {
    flex: 1;
    padding-left: 30px;
    justify-content: center;
}

#menuContainer {
    display: flex;
    flex-direction: column;
    align-items: left;
    /* padding: 10px; */
    padding: 0.5rem 2rem 1.5rem;
    background: gainsboro;
    /* justify-content: flex-start; */
    width: 350px;
    height: calc(100vh - 64px);
    margin-top: 64px;
    transition: 0.5s;
    position: fixed;
}

#newCategory {
    color: #f3efe0;
    font-size: 0.9rem;
    vertical-align: middle;
    background-color: #565264;
    padding: 6px;
    border-radius: 5px;
    padding: 0.4rem;
    align-items: center;
    border: none;
    width: fit-content;
    margin: 0;
    cursor: pointer;
    outline: none;
    transition: all .2s ease-in-out;
}

#newTaskButton {
    color: black;
    font-size: 0.9rem;
    vertical-align: middle;
    background-color: darkgrey;
    padding: 6px;
    border-radius: 5px;
    padding: 0.4rem;
    align-items: center;
    border: none;
    width: fit-content;
    margin: 0;
    cursor: pointer;
    outline: none;
    transition: all .2s ease-in-out;
}

#newTaskButton p {
    margin: 0 0.2rem 0 0;
    color: var(--light-text-color);
    display: flex;
    /* width: fit-content; */
}

#newCategory p {
    margin: 0 0.2rem 0 0;
    color: var(--light-text-color);
    display: flex;
    /* width: fit-content; */
}

#newCategory:hover {
    transform: scale(1.1);
}

#newTaskButton:hover {
    transform: scale(1.1);
}

#catogories {
    margin-top: 20px;
    margin-bottom: 20px;
}

.selectedCategory {
    color: black !important;
    margin-left: 10px;
}

.categoriesSelection {
    color: #bfacaa;
    height: 40px;
    display: flex;
    align-items: center;
}

.editButton {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    outline: none;
    font-family: inherit;
    font-size: 0.9rem;
    vertical-align: middle;
    background-color: indianred;
    padding: 6px;
    border-radius: 5px;
    margin-right: 10px;
    transition: all .2s ease-in-out;
}

.deleteButton {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    outline: none;
    font-family: inherit;
    font-size: 0.9rem;
    vertical-align: middle;
    background-color: indianred;
    padding: 6px;
    border-radius: 5px;
    transition: all .2s ease-in-out;
}

.editDeleteContainer {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    /* align-items: flex-end; */
}

.categoryName {
    width: fit-content;
    justify-content: right;
}

.categoryName:hover {
    color: black !important;
    cursor: pointer;
}

.editButton:hover {
    transform: scale(1.1);
}

.deleteButton:hover {
    transform: scale(1.1);
}

#NewCategoryForm {
    display: flex;
    align-items: center;
}

#newCategoryInput {
    border-radius: 5px;
    border: none;
    padding: 0.4rem 0.6rem;
    font-family: inherit;
    font-size: 0.9rem;
    width: 168px;
}

.save {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    outline: none;
    font-family: inherit;
    font-size: 0.9rem;
    vertical-align: middle;
    padding: 6px;
    border-radius: 5px;
    margin-right: 5px;
    transition: all .2s ease-in-out;
}

.save:hover {
    transform: scale(1.1);
}

.cancel {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    outline: none;
    font-family: inherit;
    font-size: 0.9rem;
    vertical-align: middle;
    background-color: indianred;
    padding: 6px;
    border-radius: 5px;
    transition: all .2s ease-in-out;
}

.cancel:hover {
    transform: scale(1.1);
}

button:disabled {
    background-color: #bfacaa
}

img {
    height: 16px;
    width: 16px;
}

#newCategoryInput:focus {
    outline: none;
}

#newCategoryInput {
    background-color: white;
    border: none;
    outline: none;
    padding-left: 10px !important;
    height: 30px;
    margin: 0;
    padding: 0;
    -webkit-box-shadow: none;
}

#addCategoryButtonContainer {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

#contentContainer {
    /* height: 500px; */
    margin-top: 64px;
    /* background-color: black; */
    width: 100%;
    margin: 0 auto !important;
    margin-top: 64px !important;
    max-width: 900px;
    /* margin-bottom: 20px; */
    padding-bottom: 20px;
}

#mainWrapper {
    display: flex;
    height: 100%;
    min-height: 100vh;
    color: white;
    background-color: #231a21;
}

.marginleftSlide {
    margin-left: 50px;
}

#underlayer {
    width: 0px;
    flex-shrink: 0;
}

#EditCategoryForm {
    width: 300px;
    height: 85px;
    position: fixed;
    left: 50%;
    top: 50%;
    text-align: center;
    margin-left: -150px;
    border-radius: 20px;
    margin-top: -42.5px;
    background-color: #352931;
    /* z-index: 0; */
    color: white;
}

#overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 8;
    position: absolute;
    top: 0;
}

#editCategoryName {
    background-color: white;
    border: none;
    outline: none;
    padding-left: 10px !important;
    height: 22px;
    margin: 0;
    padding: 0;
    -webkit-box-shadow: none;
    border-radius: 5px;
    border: none;
    padding: 0.4rem 0.6rem;
    font-family: inherit;
    font-size: 0.9rem;
    width: 168px;
}

#editCategoryHeader {
    font-size: 25px;
    margin-top: 5px;
    text-align: center;
    margin-bottom: 5px;
}

#allTasks:hover {
    cursor: pointer;
}

#taskList {
    margin-top: 20px;
}

.taskCheckBox {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: var(--light-text-color);
    border-radius: 5px;
    align-self: center;
    margin: 1rem;
}

.expendButton {
    border: none;
    background: none;
}

.taskListLi {
    display: flex;
    flex-direction: column;
}

.taskListLiMed {
    display: flex;
    flex-direction: column;
}

.taskListLiHigh {
    display: flex;
    flex-direction: column;
}

.topTask {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    margin-bottom: 10px;
}

.topTaskLeftAlign {
    display: flex;
}

.taskCheckBox {}

label {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: antiquewhite;
    border-radius: 5px;
    align-self: center;
    margin: 1rem;
}

.topTaskRightAlign {
    /* text-align: end; */
    /* width: 50%; */
}

label:hover {
    background: center no-repeat url(../Images/check.svg), antiquewhite;
}

.bottomTask {
    display: hidden;
    /* display: none; */
    padding-left: 28px;
    padding-right: 28px;
}

.editController {
    display: block;
    margin-top: 0.4em;
    background-color: transparent;
    padding: 0;
    border-radius: 0px;
    font-size: 0.7rem;
    border: none;
    border-bottom: 1px solid #bfacaa;
    color: #bfacaa;
    padding: 0;
    margin: 0;
    cursor: pointer;
    outline: none;
    font-family: inherit;
    font: 400 13.3333px Arial;
}

.editDeleteButton {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 10px;
}

.deleteController {
    display: block;
    margin-top: 0.4em;
    background-color: transparent;
    padding: 0;
    border-radius: 0px;
    font-size: 0.7rem;
    border: none;
    border-bottom: 1px solid #bfacaa;
    color: #bfacaa;
    padding: 0;
    margin: 0;
    cursor: pointer;
    outline: none;
    font-family: inherit;
    font: 400 13.3333px Arial;
}

.taskCategory {
    padding: 0.4rem;
    margin: 0;
    background: #565264;
    display: inline-block;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 0.7rem;
}

#newClassForm {
    z-index: 10;
    position: fixed;
    background-color: grey;
    top: 30%;
    left: 50%;
    padding: 1.5rem;
    width: 300px;
    height: fit-content;
    text-align: center;
    margin-left: -150px;
    border-radius: 5px;
}

select {
    display: initial !important;
}

#TaskNameCreate {
    border-radius: 5px;
    border: none;
    padding: 0.4rem 0.6rem;
    font-family: inherit;
    font-size: 0.9rem;
    width: 96%;
    background-color: white;
    border: none;
    outline: none;
    padding-left: 10px !important;
    margin-right: 20px!important;
    height: 30px;
    /* margin: 0; */
    margin: 10px auto !important;
    padding: 0;
    -webkit-box-shadow: none;
}

#TaskDescriptionCreate {
    border-radius: 5px;
    border: none;
    padding: 0.4rem 0.6rem;
    font-family: inherit;
    font-size: 0.9rem;
    width: 96%;
    background-color: white;
    border: none;
    outline: none;
    padding-left: 10px !important;
    margin-right: 20px!important;
    height: 30px;
    /* margin: 0; */
    margin: 10px auto !important;
    padding: 0;
    -webkit-box-shadow: none;
}

#TitleAndDescription {
    display: flex;
    flex-direction: column;
}

#TaskPriorityDropDown {
    border-radius: 5px;
    border: none;
    padding: 0.4rem 0.6rem;
    font-family: inherit;
    font-size: 0.9rem;
    width: 100%;
    height: 30px;
}

#dateForTask {
    border-radius: 5px;
    border: none;
    padding: 0.4rem 0.6rem;
    font-family: inherit;
    font-size: 0.9rem;
    width: 96%;
    background-color: white;
    border: none;
    outline: none;
    padding-left: 10px !important;
    margin-right: 20px!important;
    height: 30px;
    /* margin: 0; */
    margin: 10px auto !important;
    padding: 0;
    -webkit-box-shadow: none;
}

#CategorySelectForTask {
    border-radius: 5px;
    border: none;
    padding: 0.4rem 0.6rem;
    font-family: inherit;
    font-size: 0.9rem;
    width: 100%;
    height: 30px;
}

#CategoryDropDown {
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
}

#PriorityForTask {
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
}

.taskListLi {
    margin-bottom: 30px;
    border-radius: 5px;
    border: 1px solid green;
}

.taskListLiMed {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    border-radius: 5px;
    border: 1px solid yellow;
}

.taskListLiHigh {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    border-radius: 5px;
    border: 1px solid red;
}

.vert {
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}

.expendButton:focus {
    outline: initial !important;
    background-color: initial !important;
}

.expendButton:hover {
    cursor: pointer;
}

.CategoryForm {
    display: flex;
    align-items: center;
}

.addCategoryButtonContainer {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.NewCategoryForm {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.EditcategoryButton {
    margin-right: 10px;
}

.input {
    border-radius: 5px !important;
    border: none !important;
    padding: 0.4rem 0.6rem !important;
    font-family: inherit !important;
    font-size: 0.9rem !important;
    width: 168px !important;
}

.input:focus {
    outline: none !important;
}

.input {
    background-color: white !important;
    border: none !important;
    outline: none !important;
    padding-left: 10px !important;
    height: 30px !important;
    margin: 0 !important;
    padding: 0 !important;
    -webkit-box-shadow: none !important;
}

#EditClassForm {
    z-index: 10;
    position: fixed;
    background-color: grey;
    top: 30%;
    left: 50%;
    padding: 1.5rem;
    width: 300px;
    height: fit-content;
    text-align: center;
    margin-left: -150px;
    border-radius: 5px;
}

#EditTitleAndDescription {
    display: flex;
    flex-direction: column;
}

#EditTaskNameCreate {
    border-radius: 5px;
    border: none;
    padding: 0.4rem 0.6rem;
    font-family: inherit;
    font-size: 0.9rem;
    width: 96%;
    background-color: white;
    border: none;
    outline: none;
    padding-left: 10px !important;
    margin-right: 20px!important;
    height: 30px;
    /* margin: 0; */
    margin: 10px auto !important;
    padding: 0;
    -webkit-box-shadow: none;
}

#EditTaskDescriptionCreate {
    border-radius: 5px;
    border: none;
    padding: 0.4rem 0.6rem;
    font-family: inherit;
    font-size: 0.9rem;
    width: 96%;
    background-color: white;
    border: none;
    outline: none;
    padding-left: 10px !important;
    margin-right: 20px!important;
    height: 30px;
    /* margin: 0; */
    margin: 10px auto !important;
    padding: 0;
    -webkit-box-shadow: none;
}

#EditCategoryDropDown {
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
}

#EditCategorySelectForTask {
    border-radius: 5px;
    border: none;
    padding: 0.4rem 0.6rem;
    font-family: inherit;
    font-size: 0.9rem;
    width: 100%;
    height: 30px;
}

#EditPriorityForTask {
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
}

#EditTaskPriorityDropDown {
    border-radius: 5px;
    border: none;
    padding: 0.4rem 0.6rem;
    font-family: inherit;
    font-size: 0.9rem;
    width: 100%;
    height: 30px;
}

#EditdateForTask {
    border-radius: 5px;
    border: none;
    padding: 0.4rem 0.6rem;
    font-family: inherit;
    font-size: 0.9rem;
    width: 96%;
    background-color: white;
    border: none;
    outline: none;
    padding-left: 10px !important;
    margin-right: 20px!important;
    height: 30px;
    /* margin: 0; */
    margin: 10px auto !important;
    padding: 0;
    -webkit-box-shadow: none;
}